<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.excel.StudentMapper">

    <insert id="insertStudent" parameterType="com.ex.excel.Student">
        INSERT INTO student (student_id, name, gender, grade, email)
        VALUES (#{studentId}, #{name}, #{gender}, #{grade}, #{email})
    </insert>

    <select id="getAllStudents" resultType="com.ex.excel.Student">
        SELECT * FROM student
    </select>

    <update id="updateStudent" parameterType="com.ex.excel.Student">
        UPDATE student
        SET name = #{name}, gender = #{gender}, grade = #{grade}, email = #{email}
        WHERE student_id = #{studentId}
    </update>

    <delete id="deleteStudent" parameterType="int">
        DELETE FROM student WHERE student_id = #{studentId}
    </delete>

</mapper>